.git
.venv
.hypothesis
.pytest_cache
__pycache__
*.egg-info
build/
DotClk/.git
DotClk/*.cpp
DotClk/*.h
DotClk/*.ino
DotClk/*.hex
DotClk/README.md
dmd-simulator/
libdmdutil.src/
.amazonq/
.kiro/
.github/
docs/
tests/
examples/
